/* banner related styles */
.cont {
    background-image: url('Images/Banner\ Image.png');
    display: flex;
    height: 800px;
    width: 85%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-position: center;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

}

.text {
    padding-top: 100px;
}

.text1 {
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: -40px;
}

.text2 {
    color: white;
    text-align: center;
    font-family: Merriweather;
    font-size: 90px;
    font-style: normal;
    font-weight: 1000;
}

/* discount and 24photo related styles */

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.ptext {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 0;
    margin-top: -95px;

}

.AC {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: -20px;
}

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

/* 2024 banner styles */

.banner24 {
    background-image: url('Images/Vectorrr.png');
    display: flex;
    height: 800px;
    width: 85%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-position: center;
}

.text24 {
    color: #FFF;
    display: block;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 7.04px;
    padding-left: 90px;

}

.text24p {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;

}

.join-btn {
    color: black;
    background-color: gold;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    padding-left: 50px;
    border: 0;
}

.img24 {
    width: 319.83px;
    height: 464.662px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
    padding-top: 180px;
}

/* gifts related styles */

.gift-cont {
    padding-left: 145px;
    margin-top: 90px;
}

.gifts {
    color: #F00;
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: -20px;
}

.portfo {
    color: #070211;
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: -20px;
}

.gifts-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: -15px;
}

.gift-pic {
    padding-left: 145px;
    display: flex;
    gap: 21px;
    height: 550px;
    width: 500px;
}

.gift-pic {
    padding-left: 145px;
    display: flex;
    gap: 21px;
    height: 550px;
    width: 500px;
    margin-top: 21px;
}

/* subscribe related styles */

.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 630px;
    width: 85%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 80px;
}

.sub-sec {
    padding-top: 80px;
}

.sub-img {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sub-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.sub-msg {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: -20px;

}

.input {
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin: 0 auto; */
}

.email {
    border-radius: 50px;
    background: #FFF;
    width: 500px;
    height: 70px;
    border: 0;
}

.email::placeholder {
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 35px;
}

.sub-btn {
    margin-left: -35px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 180px;
    height: 70px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* footer related styles */

.foot {
    /* width: 1600px; */
    height: 650px;
    background: #070211;
    background-position: cover;
    margin-top: 85px;
    /* margin: 0 auto;
    padding: 0 auto; */
}

.list-items {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.icon {
    padding-right: 12px;
    height: 24px;
    width: 24px;
}

ul {
    list-style-type: none;
    padding-left: 70px;
    padding-right: 70px;
}

li {
    margin-bottom: 10px;
}

hr {
    margin-left: 70px;
    margin-right: 70px;
    opacity: 30%;
}

.social {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.unsub {
    color: white;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    width: 165px;
    text-transform: uppercase;
    margin-right: 70px;
    border: 0;
    border-radius: 20px ;
}